#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.products{
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 25px;
}
.cart{
  width: 100%;
  height: auto;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  padding: 20px;
  gap: 20px;
  /* background-color: beige; */

}
.show{
  display: flex;
}
.hide{
  display: none;

}
.contents{
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* border: solid 1px white; */
  background-color: beige;
  padding: 20px;
  gap: 10px;
  border-radius: 10px;
}
.top_bar{
  width: 90%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  
}
.qty_flag{
  width: 40px;
  height: 20px;
  background-color: red;
  color: white;
  border-radius: 10px;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
